.orderTrack {
  width: 500px;
  display: flex;
  display: flex;
}
.orderStatus {
  width: 33.33%;
  height: 5px;
  background: #777;
  position: relative;
  font-size: 12px;
}
.orderStatus.active {
  background: #26a541;
  transition: all 2s;
}
.orderStatus:last-child {
  width: 0;
}
.orderStatus .point {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 8px;
  background-color: #777;
  top: -5px;
}
.orderStatus .point.active {
  background-color: #26a541;
}
.orderInfo {
  height: 67px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: -25px;
  transform: translateX(-10%);
  width: 100px;
}

.title {
  font-size: 14px;
  font-weight: 600;
}
.value {
  font-size: 12px;
  text-transform: capitalize;
}
.manageOrder {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.manageOrder button {
  outline-style: none;
  border: 0px;
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.3s;
  margin: 20px 20px;
}
.manageOrder button:hover {
  background-color: coral;
  transform: translateY(-10px) scale(1.1);
}
.manageOrder button:active {
  background-color: antiquewhite;
}

.cardOrder {
  display: flex;
  justify-content: center;
}
.cardOrder .cardHeader {
  color: white;
}
